* {
    margin: 0;
    padding: 0;
    border-style: none;
    font-family: "Atma";
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #caddff;
    height: 100vh;
    width: 100vw;
}
.postcard {
    width: 750px;
    height: 500px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postcard .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 90%;
}
.postcard h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 100px;
}
.postcard img {
    height: 100px;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content p {
    font-size: 25px;
    letter-spacing: 1px;
    width: 330px;
    line-height: 28px;
}
.content form {
    width: 320px;
}
.content form * {
    font-size: 25px;
    border-bottom: 2px solid #0003;
    margin-bottom: 15px;
    width: 100%;
}
button {
    font-size: 25px;
    line-height: 25px;
    padding: 10px 5px;
    margin-top: 50px;
    background: #aaa;
    border-bottom: 2px solid #888;
    width: 300px;
}
button:hover {
    cursor: pointer;
    background: #669;
}
button:active {
    background: white;
    color: black;
    cursor: pointer;
    border: 2px solid black;
}